@font-face {
    font-family: 'Bangers';
    src: url('./../assets/fonts/Bangers/Bangers-Regular.ttf');
}

@font-face {
    font-family: 'Londrina Solid';
    src: url('./../assets/fonts/Londrina_Solid/LondrinaSolid-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}