:global(.banner) {
    background: $blue;
    width: 100%;
}

:global(.banner__top) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

:global(.banner__pagename) {
    display: flex;
    align-items: center;
    justify-content: center;
}

:global(.pagename) {
    font-family: 'Londrina Solid', Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding: 10px;
    letter-spacing: 1.3px;
    font-size: 38px;
}

:global(.menu-btn) {
    background: transparent;
    border: none;
    color: #fff;   
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 460px) {
    :global(.banner) {
        display: none;   
    }
}