@import "./colors";
@import "./fonts";
@import "./sidebar.scss";
@import "./banner.scss";
@import "./window.scss";
@import "./join.scss";
@import "./game.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
}

:global(.window) {
    width: 100%;
}