@import "./colors";
@import "./sidebar.scss";
@import "./banner.scss";
@import "./window.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100%;
    overflow: hidden;
}

:global(.window) {
    width: 100%;
}